form{
	width:390px;
	margin: 60px auto;
	border:1px solid black;
	border-radius: 4px;
	padding:30px;
}
form div{
	display: flex;
	margin-bottom:20px;
}
form input{
	flex-grow: 1;
}
button:hover{
	background-color:#98FB98;
	border-radius: 4px;

}
/*input:valid{
	border-color:green;
}
input:invalid{
	border-color:red;
}*/
.result{
	height: 20px;
	background-color:orange;
}